body, html {
  margin : 0px !important;
  height: 100%;
}

.navbar{
  padding: 0.5% 3%;
  background-color: #6886C5 !important;
  font-family: 'Baloo';
}

h2{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/*SIGNIN*/

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-primary{
  background-color: #6886C5;
  border: none;
}

.btn-primary:hover{
  filter: brightness(110%);
  background-color: #6886C5;
}

.contact_form{
  /* style={{backgroundColor: "#6886C5", height:500}} */
  background-color: #6886C5;
  height: 500px;
}