body, html {
  margin : 0px !important;
  height: 100%;
}

.navbar{
  padding: 0.5% 3%;
  background-color: #6886C5 !important;
  font-family: 'Baloo';
}

.about{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.status_msg{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-align: center;
  margin-top: 2%;
}

.btn-primary{
  background-color: #6886C5;
  border: none;
}

.btn-primary:hover{
  filter: brightness(110%);
  background-color: #6886C5;
}

.contact_form{
  background-color: #6886C5;
  height: 500px;
}

.login-container{
  height: 100%;
}