body, html {
  margin : 0px !important;
  height: 100%;
}

.error-template {
  height: 100vh;
  padding: 40px 15px;
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.error-actions {
  margin-top:15px;
  margin-bottom:15px;
}
.error-actions .btn { 
  margin-right:10px; 
}

.text-muted{
  text-align: center;
}

.about, .search{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.status_msg{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-align: center;
  margin-top: 2%;
}

.btn-primary{
  background-color: #6886C5;
  border: none;
}

.btn-primary:hover{
  filter: brightness(110%);
  background-color: #6886C5;
}

.contact_form{
  background-color: #6886C5;
  height: 500px;
}

.login-container{
  height: 100%;
}

/*
 * Navbar
 */

 .navbar{
  background-color: #6886C5 !important;
}

 .navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1.2rem;
  padding: 0.5% 3%;
  background-color: #6886C5 !important;
  font-family: 'Baloo';
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

input.search{
  color: rgb(253, 253, 253) !important;
}

/*
 * Sidebar
 */

 .sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
}

.sidebar .nav-link.active {
  color: #6886C5;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

#updates{
  color:#6886C5;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
}

